@font-face {
    font-family: font;
    src: url("../font/Oxygen-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Bold.ttf");
    font-weight: 700;
  }

  /* GENERALS*/

body{
    background: linear-gradient(135deg, #75d2f9 0%, #279ca9 100%);
    margin: 0;
    color: #0F0A0A;
    font-size: 16px;
    font-family: font;
    font-weight: 700;
}

.wrapper{
    padding: 0 16px;
}
        /* SECTION NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 81px;
    font-size: 14px;
}
.navbar-title{
    font-size: 1.2em;
    font-weight: 700;
    font-family: Roboto;
}
.menu{  
    display: none;
}

.download{
    border: none;
    padding: 13px 24px;
    border-radius: 90px;
    border: 2px solid #0F0A0A;
    background-color:#42E2B8;
    font-size: 14px;
    transition-duration: 0.4s;
}

.download::after{
    content: "CURRÍCULUM";
    font-weight: 700;
}

.download:hover{
    background-color: #36cca4;
    cursor: pointer;
}


       /* SECTION MAIN */
.main {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
}

.main-img img{
    width: 100%;
}

.main-description h2{
    font-size: 48px;
    margin: 0px;
    padding-bottom: 6px;
}
.main-description h1{
    font-size: 59px;
    margin: 0px;
    margin-bottom: 16px;
}

.main-icons{
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.main-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0F0A0A;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    text-decoration: none;
    background-color: #42E2B8;
}

.main-icons a > img{
    width: 18px;
    height: 18px;
}


        /* SECTION PROJECTS*/
.projects-main{
    text-align: center;
    margin: 40px 0;
}

.projects-main p{
    margin: 0;
    line-height: 39px;
    font-size: 24px;
    font-weight: 500;
}

.projects-main h3{
    font-size: 24px;
    line-height: 39px;
}




        /* >>>>>> MEDIA QUERIES <<<<<<< */

@media (min-width: 640px){
.wrapper{
    padding: 0 128px;
}

    .download::after{
        content: "DESCARGAR CURRÍCULUM";
    }
    .menu{
        position: relative;
        display: flex;
    }

    .menu p{
        margin: 0 1em;
    }
}