@font-face {
    font-family: font;
    src: url("../font/Oxygen-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Bold.ttf");
    font-weight: 700;
  }

  /* GENERALS*/

body{
    background: linear-gradient(135deg, #75d2f9 0%, #279ca9 100%);
    margin: 0;
    color: #0F0A0A;
    font-size: 16px;
    font-family: font;
    font-weight: 700;
}

.wrapper{
    padding: 0 16px;
}
        /* SECTION NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 81px;
    font-size: 14px;
}
.navbar-title{
    font-size: 1.2em;
    font-weight: 700;
    font-family: Roboto;
}
.menu{  
    display: none;
}

.download{
    border: none;
    padding: 13px 24px;
    border-radius: 90px;
    border: 2px solid #0F0A0A;
    background-color:#42E2B8;
    font-size: 14px;
    transition-duration: 0.4s;
}

.download::after{
    content: "CURRÍCULUM";
    font-weight: 700;
}

.download:hover{
    background-color: #36cca4;
    cursor: pointer;
}


       /* SECTION MAIN */
.main {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
}

.main-img img{
    width: 100%;
}

.main-description h2{
    font-size: 48px;
    margin: 0px;
    padding-bottom: 6px;
}
.main-description h1{
    font-size: 59px;
    margin: 0px;
    margin-bottom: 16px;
}

.main-icons{
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.main-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0F0A0A;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    text-decoration: none;
    background-color: #42E2B8;
}

.main-icons a > img{
    width: 18px;
    height: 18px;
}


        /* SECTION PROJECTS*/
.projects-main{
    text-align: center;
    margin: 40px 0;
}

.projects-main p{
    margin: 0;
    line-height: 39px;
    font-size: 24px;
    font-weight: 500;
}

.projects-main h3{
    font-size: 24px;
    line-height: 39px;
}


.projects-img img{
    width: 100%;
    margin-top: 40px;
}
.project-name0{
    width: fit-content;
    background-color: white; 
    position: relative; 
    top: 5px;
}
.project-name{
    margin-left: 4px;
    width: fit-content;
    background-color: #0F0A0A;
    position: absolute;
}

.project-name p{
    display: inline-block;
    margin: 0;
    padding: 8px 8px;
    color: white;
    margin: auto;
    font-size: 24px;
}

.project-name p::before{
    width: auto;
    height: auto;
}

.netnet{
    /* border: 1px solid red; */
    margin-bottom: 45px;
}

.preject-name{
    /* offset-x | offset-y | color */
    width: fit-content;
    box-shadow: -4px 4px white;
    background-color: #0F0A0A;
    color: white;
    padding: 8px;
    margin-left: 4px;
    margin-top: 40px;
    font-size: 24px;
}

.project-description{   
    line-height: 25px;
}
.project-buttons{
    grid-template-columns: 100%;
    width: 100%;
    display: grid;
    grid-gap: 16px;
}
.github, .link{
    display: flex;
    text-decoration: none;
    color: #0F0A0A;
    text-transform: uppercase;
    margin: 0px 0;
    border: 2px solid #0F0a0a;
    height: 49px;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    font-size: 14px;
    font-weight: 700;
    }
.github::before{
content: '';
  background:url('../img/github.svg');
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
    }
    .link{
        background-color: #42E2B8;
    }

.user-quote{
    padding: 24px;
    border-radius: 24px;
    background-image: linear-gradient(140deg, white 0%, rgba(255, 255, 255, 0.551) 5%, rgba(255, 255, 255, 0.308) 100%);
    margin: 80px 0;
}


.user-quote img, .quote{
    margin-bottom: 24px;
}

.user-quote > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.writer{
    font-size: .8em;
    opacity: 0.5;
}

.formulario input::placeholder{
    padding: 5px .8em;
}
.formulario input{
    width: 100%;
    background-color: white;
    border: 1px solid #858C94;
    border-radius: 8px;
    height: 50px;
}
.formulario textarea{
    height: 134px;
    width: 100%;
    background-color: white;
    border: 1px solid #858C94;
    border-radius: 8px;
}

.footer .copyright > .main-icons{
    margin: 0;
    /* background-color: red; */
    /* border: solid 1px blue; */
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    /* border: solid 1px blue; */
}
.copyright{
    margin-bottom: 24px;
}
.footer p{
    margin: 0;
    margin-bottom: 8px;
    /* border: solid 1px blue; */
}
.footer p:last-child{
    margin: 0;
    /* background-color: red; */
}

.footer .copyright > .navbar-title{
    display: none;
}

        /* >>>>>> MEDIA QUERIES <<<<<<< */

@media (min-width: 640px){
.wrapper{
    padding: 0 128px;
}

    .download::after{
        content: "DESCARGAR CURRÍCULUM";
    }
    .menu{
        position: relative;
        width: 300px;
        justify-content: center;
        margin-left: 10vw;
        /* background-color: red; */
        display: flex;
        /* right: calc(50% - 150px); */

    }
    .menu > p > a{
        color: black;
        text-decoration: none;
    }

    .menu p{
        margin: 0 1em;
    }
    .main{
        grid-template-columns: 50% 50%;
        /* background-color: white; */
    }
    .main-img{
    grid-column: 2 / 3;
    grid-row: 1;
    }
    .main-info{
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .projects-main{
        padding: 0 105px;
    }
    .projects-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        /* background-color: blue; */
    }
    .projects-img{
        grid-column: 2 / 3;
        grid-row: 1;
        /* background-color: red; */
    }
    .projects-info{
        grid-column: 1 / 2;
        grid-row: 1;
        /* background-color: yellow; */
    }
    .user-quote{
        grid-column: 1 / 3;
        padding: 80px;
        text-align: center;
        /* border-radius: 24px; */
    }
    .project-description{
        font-size: 16px;
    }
    .project-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 90px;
        grid-gap: .3em;
    }
    .github{
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .link{
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .Hablemos{
        padding: 0 18vw;
    }
    .send-message > a{
        width: 100% !important;
        grid-column: 1 / 4;
    }
    .footer .copyright > .navbar-title{
        display: inline-block;
    }
    .copyright{
        width: 100%;
        display: grid;
        grid-template-columns: 250px calc(100% - 500px) 250px;
        align-items: center;
        height: auto;
    }
    .copyright > .main-icons{
        /* background-color: #858C94; */
        /* background-color: red; */
        grid-column: 3 / 4;
        grid-row: 1;
        margin: 0 !important;
    }
    .footer-info{
        display: flex;
        grid-column: 2 / 3;
        grid-row: 1;
        font-size: 14px;
    }
    .copyright > .navbar-title{
        grid-column: 1 / 2;
        grid-row: 1;
        text-align: start;
    }
}