@font-face {
    font-family: font;
    src: url("../font/Oxygen-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Regular.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: font;
    src: url("../font/Oxygen-Bold.ttf");
    font-weight: 700;
  }

body{
    background: linear-gradient(135deg, #75d2f9 0%, #279ca9 100%);
    margin: 0;
    color: #0F0A0A;
    font-size: 16px;
    font-family: font;
    font-weight: 700;
}

.wrapper{
    padding: 0 16px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 81px;
    font-size: 14px;
}
.navbar-title{
    font-size: 1.2em;
    font-weight: 700;
    font-family: Roboto;
}
.menu{  
    display: none;
}

.download{
    border: none;
    padding: 13px 24px;
    border-radius: 90px;
    border: 2px solid #0F0A0A;
    background-color:#42E2B8;
    font-size: 14px;
    transition-duration: 0.4s;
}

.download::after{
    content: "CURRÍCULUM";
    font-weight: 700;
}

.download:hover{
    background-color: #36cca4;
    cursor: pointer;
}


@media (min-width: 640px){
.wrapper{
    padding: 0 128px;
}

    .download::after{
        content: "DESCARGAR CURRÍCULUM";
    }
    .menu{
        position: relative;
        display: flex;
    }

    .menu p{
        margin: 0 1em;
    }
}